
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
    font-family: sans-serif,serif;
    text-align: center;
 
}

.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .d-block{
    border-radius: 100%;
    width: 200px;
    height: 200px;
  text-align: center;
  }


  .dwnld{
    background-color: purple;
    color: white;
    text-decoration: none;
    padding: 7px;
    border-radius: 20px;
  }
  .dwnld:hover{
    background-color: #00bfff;
    color: black;
  }
  
.cover{
    margin: 0;
    text-align :center;
    font-family: serif;
    justify-content: center;
  }
  hr{
    border: dotted rgb(11, 181, 238) 6px;
   border-bottom: none;
   width: 4%;
   margin: 100px auto 100px auto;
   
  }
  
  a{
    color: #eaf6f6;
    font-family:'Montserrat',sans-serif ;
    margin: 10px 20px ;
    text-decoration: none;
  
  }
  a:hover{
    color: blue
  }
  a:active{
    color: gold;
  }
  .links{
    color: blue;
  }
  
  li
  {
    float: left;
  }
  
  .contact-message{
   
    margin: 40px auto 60px;
    font-size: 1.01rem;
  }
  
  .bottom-container{
    background-color: black;
    padding: 200px 0 20px;
    height: 300px;
    width: 100vw;
  }
  
  .btn2 {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat',sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-bottom: 1000px;
  }
  
  .btn2:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  
  .copy-right{
    color: #eaf6f6;
    font-size: 1.01rem;
    padding: 20px 0px;
  }
  .contact-me{
    margin-bottom: 80px;
  }
.tcover{
    text-align: center;
    font-size: 0.9rem;
}
.bckimg{
  margin-top: 20px;
  display: inline-block;

  border-radius: 100px;
  height: 20vh;
  background:linear-gradient(300deg, #48646d, #9c616a, #977c78);
  background-repeat: no-repeat;
  background-position: center;

}
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 0.7;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}
.alert.info {background-color: #2196F3;}