* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}


header {
  /* position: absolute; */
  width: 100%;
  min-height: 60px;
  /* background: white; */
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px #242121;
  background-color: #2196f3;
}

header .lgosection {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;

}

header .gd {
  text-decoration: none;
  font-size: 2em;
  font-weight: 600;
  color: black;
}

header .logo img {
  text-decoration: none;
  height: 30px;
}

header ul {
  position: relative;

}

header ul li {
  list-style-type: none;
  float: left;
}

header ul li a {
  font-size: 1.1rem;
  padding: 20px 25px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  display: inline-block;
  position: relative;
  color: whitesmoke;

}

header nav ul .unique a {
  background: black;
  color: whitesmoke;
}

header ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-in-out;
  border: 1px solid red;
}

header ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

header ul li a:hover {
  background-color: black;
}

.image-1 {
  text-align: center;
}

.image-1 img {
  width: 90%;
  height: auto;
  margin-top: 40px !important;
  /* border: 1px solid white; */
  margin: auto;
  border-radius: 20px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-content: space-between; */
}

.text {
  width: 50%;
  margin-left: 40px;
  font-size: 1.2rem;
  line-height: 35px;
  color: rgb(33, 29, 29);
  font-weight: 500;
}

.text h1 {
  color: #1168cc;
  margin-bottom: 60px;
  /* text-align: center; */
}


.topic-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;

}

.text-1 {
  width: 50%;
  font-size: 1.1rem;
  line-height: 30px;
  color: #302b2b;
}

.image-2 img {
  width: 88%;
  height: 180px;
}

.text-1 h2 {
  text-align: center;
}

h2 {
  color: rgb(60, 115, 218);
  text-decoration: underline;
  margin-bottom: 25px;
}

.topic-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;

}

.text-2 {
  width: 50%;
  font-size: 1.1rem;
  line-height: 30px;
  color: #302b2b;
}

.text-2 h2 {
  text-align: center;
}

.image-3 img {
  width: 88%;
  height: 180px;
}

.topic-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;

}

.text-3 {
  width: 50%;
  font-size: 1.1rem;
  line-height: 30px;
  color: #302b2b;
}

.text-3 h2 {
  text-align: center;
}

.image-4 img {
  width: 88%;
  height: 180px;
}

.topic-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;

}

.text-4 {
  width: 50%;
  font-size: 1.1rem;
  line-height: 30px;
  color: #302b2b;
}

.text-4 h2 {
  text-align: center;
}

.image-5 img {
  width: 88%;
  height: 180px;
}

.image-6 img {
  margin-top: 70px;
  width: 70%;
}

.text-5 {
  margin: 40px 20px;
  text-align: center;
  line-height: 25px;
  font-size: 1.1rem;
}


footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
  background: #36474f;
  margin-top: auto;
}

.additional {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 550px;
}

footer .f-ele1 {

  margin: 1.5rem 0;
  padding: 0.5rem;
  background: #fff;
  ;
  border-radius: 8px;
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;

}

.f-ele1 p {
  margin: auto 0.5rem;
  font-size: 1.3em;
  font-weight: 500;

  color: #3c434e;
  ;
  text-align: left;
}

footer .f-ele1 img {
  margin: auto 0.5rem;
  width: 4.5rem;
  height: auto;
}

footer .f-ele1 span {
  padding: 0.2rem 0.6rem;
  font-size: 1.4rem;
  font-weight: 500;

  color: #1d1c1c;
  background: #ffb808;
  text-align: center;
  letter-spacing: 0.2px;
  border-radius: 50px;
}



.f-ele2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.f-ele2 ul {

  font-weight: bold;
}

.f-ele2 ul span {
  font-size: 22px;
  font-weight: 600;

}

.f-ele2 ul a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

.f-ele2 a li {
  list-style-type: none;
}

.f-ele3 a li {
  list-style-type: none;
}

.f-ele2 ul a li:hover {
  border-radius: 10px;
  background: white;

  color: black;
}

.f-ele3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.f-ele3 ul {

  font-weight: bold;

}

.f-ele3 ul span {
  font-size: 22px;
  font-weight: 600;

}

.f-ele3 ul a li .eimg {
  width: 15px;
  height: auto;
}

.f-ele3 ul a {
  text-decoration: none;
  color: white;
  margin: 1px;
}

.additional p {
  line-height: 25px;
}

/* Social media icon */


#lab_social_icon_footer {
  padding: 40px 0;

}

#lab_social_icon_footer a {
  color: white;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */

  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

/*
    Multicoloured Hover Variations
*/

#lab_social_icon_footer #social-fb:hover {
  color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
  color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
  color: #f39c12;
}

/* End footer */
/* Footer media queries */


@media (max-width:590px) {
  footer .f-ele1 span {
    font-size: 0.8em;
  }

  footer .f-ele1 p {
    font-size: 0.9em;
  }

  .btny {
    margin: 0.1em;

  }

  footer .f-ele1 img {
    width: 2em;
  }


}

@media (max-width:1095px) {
  footer {
    flex-direction: column;
  }

  .f-ele3 {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

/* End footer media queries */




@media (max-width:590px) {
  footer .f-ele1 span {
    font-size: 0.8em;
  }

  footer .f-ele1 p {
    font-size: 0.9em;
  }

  .btny {
    margin: 0.1em;

  }

  footer .f-ele1 img {
    width: 2em;
  }


}

@media(max-width:298px) {
  .glink {
    font-size: 20px;
    padding: 10px;
  }
}

@media(max-width:880px) {
  header {
    padding: 10px 20px;

  }

  header nav {
    position: absolute;
    width: 100%;
    top: 66px;
    left: 0;
    background: #445964;
    display: none;
    z-index: 999;
  }

  header.active nav {
    display: initial;
  }

  header nav ul {
    padding-left: 0;
    width: 100%;
  }

  header nav ul li {

    width: 100%;
  }

  header nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    color: white;
    background-color: #2b93e3;
  }

  header nav ul li a:hover {
    background: black;
    color: whitesmoke;
  }

  header nav ul .unique a {
    background: black;
    color: whitesmoke;
  }

  .menu {
    position: relative;

    width: 40px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: orangered;
    transform: translateY(-12px);
    box-shadow: 0 12px orangered;
  }

  .menu::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: orangered;
    transform: translateY(12px);
  }

  header.active .menu::before {
    transform: rotate(45deg);
    box-shadow: 0 0 orangered;
  }

  header.active .menu::after {
    transform: rotate(315deg);
  }
}

@media(max-width:270px) {
  .gd {
    display: none;
  }
}

@media(max-width:430px) {
  .container {
    flex-direction: column;
  }

  .text {
    width: 90%;
    text-align: center;
    font-size: 1.1rem;
    line-height: 35px;
    font-weight: 500;
    margin: 10px;
  }

  .image-1 img {
    /* margin-left: 50px;
    width: 75%;
    height: 350px; */
    margin-top: 40px;
    /* border: 1px solid white; */
    border-radius: 20px;
  }

  .topic-1 {
    display: flex;
    margin-top: 80px;
    flex-direction: column;

  }

  .text-1 {
    width: 80%;
    font-size: 1.1rem;
    line-height: 20px;
    text-align: center;
  }

  .text-1 h2 {
    text-align: center;
  }

  .image-2 img {
    width: 70%;
    height: 170px;
  }

  /* h2{
      text-align:center ;
      margin-bottom: 25px;
    } */
  .topic-2 {
    flex-direction: column-reverse;
  }

  .text-2 {
    margin-left: 10px;
    text-align: center;
    width: 80%;
    font-size: 1.1rem;
    line-height: 20px;

  }

  .image-3 img {
    width: 70%;
    height: 170px;
  }

  .topic-3 {
    flex-direction: column;
  }

  .text-3 {
    margin-left: 10px;
    width: 80%;
    font-size: 1.1rem;
    line-height: 25px;

  }

  .image-4 img {
    width: 70%;
    height: 170px;
  }

  .topic-4 {
    flex-direction: column-reverse;
  }

  .text-4 {
    margin-left: 10px;
    width: 80%;
    font-size: 1.1rem;
    line-height: 25px;

  }

  .image-5 img {
    width: 70%;
    height: 170px;
  }
}

@media(max-width:820px) {
  .container {
    flex-direction: column;
  }

  .text {
    width: 90%;
    text-align: center;
    font-size: 1.1rem;
    line-height: 35px;
    font-weight: 500;
    margin: 10px;
    margin-top: 20px;
  }

  /* .image-1 img {
    margin-left: 50px;
    width: 75%;
    height: 255px;
  } */

}

@media(max-width:540px) {
  .text-1 {
    text-align: center;
    width: 67%;
  }

  .text-2 {
    text-align: center;
    width: 78%;
  }

  .text-3 {
    width: 59%;
  }

  .text-4 {
    width: 59%;
  }

}

@media(max-width:430px) {
  .text-1 {
    text-align: center;
    width: 90%;
  }

  .text-2 {
    text-align: center;
    width: 97%;
  }

  .text-3 {
    width: 89%;
  }

  .text-4 {
    width: 79%;
  }

}

@media(max-width:1020px) {
  .text h1 {
    margin-top: 80px;
  }
}
