* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

#contact-form input {
  font-family: 'Roboto', 'Arial', 'Helvetica', 'sans-serif';
  /* Font family */
  font-size: 16px;
  /* Font size */
  color: #fff !important;
  /* Text color */
}

#contact-form textarea {
  font-family: 'Roboto', 'Arial', 'Helvetica', 'sans-serif';
  /* Font family */
  font-size: 16px;
  /* Font size */
  color: #fff !important;
  /* Text color */
}

input[type=text],
input[type=email],
input[type=tel],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background: unset;
  border-radius: 15px;
  border: 1px solid #cccccc54;
  color: white;
}

.heading {
  color: white;
}

.dark-mode .heading {
  color: #d9ed92;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  background: linear-gradient(145deg, #12ff00, #0fe600);
  box-shadow: 20px 20px 60px #0ed900,
    -20px -20px 60px #14ff00;

}

label {
  color: #fff;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.Formcontainer {
  border-radius: 5px;
  background-color: #333;
  padding: 20px;
  max-width: 700px;
  margin: auto;
  /* From https://css.glass */
  background: rgba(52, 3, 228, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(32, 170, 240, 0.3);
  /* padding-bottom: 60px; */

}




.heading {
  margin-top: 20px;
  margin-bottom: 30px;
}

.heading h1 {
  text-align: center;
  margin-bottom: 10px;
}

.heading p {
  text-align: center;
}

.dark-mode .Formcontainer {
  /* From https://css.glass */
  background: rgba(47, 47, 47, 0.34);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(47, 47, 47, 0.3);
}

#particles-js {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}


body {
  font-family: 'Lato', 'Montserrat', 'Noto Sans', 'Roboto Slab', 'Source Sans Pro', 'PT Sans', 'Droid Sans', 'Cabin', 'Quicksand', 'Merriweather', sans-serif;

  background-color: #c7e3dcf9;
  /* Light gray background */
  background-color: #CDF5FD;
}

::selection {
  background-color: #cdb4db;
  color: #fff;
}

header {
  color: #6e737cd3 !important;

  padding: 10px;
  text-align: center;
  font-family: sans-serif;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

header h1 a {
  text-decoration: none;
  color: #fff;
  color: #fff !important;
  font-size: 2.1rem;
  font-weight: bold;
  letter-spacing: 2px;
}


nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background: #77cbe9;
  padding: 10px 10px;
  text-align: center;
  position: relative;
}

nav img {
  width: 40px;
  height: 40px;
}

.home {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.home:hover {
  color: red;
}

.clicked-glow {
  color: #fff;
  letter-spacing: 3px;
  font-size: 200%;
}


/* RESPONSIVENESS ADDTIN  */

/* Header */
header h1 {
  font-size: 24px;
}





/* Media Query for screens between 601px to 1024px */


/* style for the contact us form */
.contact-section h2 {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 4px;

  font-size: 40px;
  margin-bottom: 0px !important;
}

.contact-section p {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;

  font-size: 15px;
  margin-top: 0px !important;
}

.contact-section form {
  max-width: 400px;
  /* Set a maximum width for the form to prevent it from stretching too wide */
  margin: 0 auto;
  /* Center the form horizontally */
}

.contact-section form label {
  display: block;
  /* Display labels as blocks (vertical) */
  margin-bottom: 5px;
  /* Add some spacing between labels */
  font-weight: bold;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;

  font-size: 25px;
}

.contact-section form input,
.contact-section form textarea {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;
  /* Add some spacing between form elements */
  border: 1px solid #ccc;
  border-radius: 13px;
  font-size: 16px;
  background: #90e0ef;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #2c2f34dc !important;
  letter-spacing: 1px;
  outline: none;

}

.contact-section form textarea {
  resize: vertical;
  /* Allow the textarea to be vertically resizable */
}

.contact-section form button {
  padding: 10px 20px;
  /* background-color: #333;
  color: #eabb95; */
  border: none;
  font-size: 26px;
  cursor: pointer;
  border-radius: 18px;
  font-family: "Bebas Neue", sans-serif;
  color: #444;
  background-color: #90e0ef;
  transition-duration: 300ms;
  width: 100%;
}

.contact-section form button:hover {
  /* background-color: #333; */
  background-color: #90e0ef;
  color: #1D5B79;
}


.errormsg {
  width: 100%;
  margin-bottom: 10px;
  color: red;
}

/* Media Query for screens larger than 768px */
@media screen and (min-width: 768px) {
  .contact-section form {
    display: flex;
    /* Display the form elements in a row on larger screens */
    flex-wrap: wrap;
    /* Allow the form elements to wrap to the next row if needed */
  }

  .contact-section form label {
    flex: 1 0 100%;
    /* Make labels take full width on larger screens */
    margin-right: 10px;
    /* Add some spacing between labels and form elements */
  }

  /* .contact-section form input,
  .contact-section form textarea { */
  /* flex: 2 0 calc(50% - 15px); */
  /* Make form elements take half width on larger screens */
  /* } */

  .contact-section form textarea {
    resize: none;
    /* Disable textarea resizing on larger screens */
  }

  .contact-section form button {
    flex: 1 0 100%;
    /* Make button take full width on larger screens */
  }
}







main {
  background: rgb(37, 59, 112);
  background: linear-gradient(63deg, rgba(37, 59, 112, 1) 0%, rgba(15, 23, 42, 1) 100%);
}



body {
  z-index: -10;
  position: relative;
}



nav {
  background: rgba(37, 59, 112, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

body {
  background: rgb(21, 230, 220);
  background: linear-gradient(312deg, rgb(13, 206, 106) 0%, rgb(51, 64, 93) 100%);
}

/* Footer */


footer {
  /* background-color: black; */
  background-color: black;
  width: 100%;
  margin-top: 40px;
}

.panel2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-right: 30px;
  gap: 20px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  /* background-color: black; */
  background-color: var(--background-color6);
  height: 100%;
}

.spt-logo {
  margin-bottom: 10px;
}

.spt-logo>img {
  width: 200px;
  padding: 15px 15px;
  margin-left: 20px;
}

.foot {
  /* height: 40vh; */
  /* background-color: black; */
  background-color: var(--background-color7);
  display: flex;
  align-items: center;
  color: white;
  /* color: var(--primary-color16); */
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 90px;
  margin-bottom: auto;
}

.company {
  margin-bottom: auto;
}

ul {
  list-style: none;
  text-align: left;
}

ul li {
  list-style-type: none;
  cursor: pointer;
  /* color: rgb(147, 140, 140); */
  color: var(--primary-color17);
  margin-top: 15px;
}

.company ul li:hover {
  /* color: white; */
  color: red;
  text-decoration: underline;
  transition: 1s ease;
  transform: scale(1.1);
}

.main-head {
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Bitter', serif;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  pointer-events: none;
  font-size: 22px;
  color: orange;
}

.icon_border {
  /* border: 0.5px solid black; */
  border: 0.5px solid white;
  border-radius: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(168, 164, 164, 0.5); */
  background-color: var(--background-color8);
  margin: 9px 9px;
  cursor: pointer;
}

.icon_border :hover {
  transform: scale(1.1);
  transition: ease 0.5s;
  border-radius: 100%;
  background-color: rgb(206, 49, 49);

}

.LD-fb:hover {
  background-color: blue !important;
}

.LD-fb a:hover {
  background-color: blue !important;
}

.LD-fb a img:hover {
  background-color: blue !important;
}

.icon_border a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
  flex-wrap: wrap;
}

.social-icons img {
  width: 40px;
  height: 40px;
  padding: 5px 5px;
  margin: 4px 4px;
  color: white;
  border-radius: 100%;
}

.social-icons i {
  color: white;
  font-size: 3rem;
  padding: 5px 5px;
  margin: 4px 4px;
}

.social-icons i:hover {
  color: rgba(255, 255, 255, 0.500);
}

.panel3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel3 p {
  color: white;
  /* color: var(--primary-color19); */
}


::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  /* background: linear-gradient(#7ab6e0,#7ab6e0,#7ab6e0,#ffffff, #edbb00 #ffffff,#7ab6e0,#7ab6e0, #7ab6e0); */
  background: linear-gradient(#1ed760, #00ff59, #80c019, rgba(17, 17, 17, 0.8));
  border-radius: -20px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#1ed760, #80c019);
  border-radius: 20px;
  border: 2px solid #000;
}



@media (max-width:785px) {
  .panel2 {
    flex-direction: column;
  }

  .foot {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

  }

  .company ul {
    text-align: center;
  }

  .company ul li {
    text-align: center;
  }
}