@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
[data-theme="light"] {
  --color-bg: #ffffff;
  --color-fg: #000000;
}

[data-theme="dark"] {
  --color-bg: #000000;
  --color-fg: #ffffff;
}

body {
  font-family: Arial, sans-serif;
  justify-content: left;
  align-items: left;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

.container {
  text-align: center;
}

h4 {
  margin-bottom: 10px;
  margin-right: 900px;
  text-align:left ;
}

/* Toggle styles */
.switch {
  position: relative;
  display:inline-block;
  width: 60px;
  height: 34px;
  margin-right: 2900px;
  z-index: -1; 
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  z-index: -2;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 50px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Dark mode */
body.dark-mode {
  background-color: #222;
  color: #fff;
}

.dark-mode .slider {
  background-color: #999;
}

.dark-mode .slider:before {
  background-color: #444;
}

/*.dark{
  background-color: black;
  color:whitesmoke;
}
.light{
  background-color: white;
  color: black;
}*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}
/* Header */

header {
  /* position: absolute; */
  width: 100%;
  min-height: 66px;
  /*background: white;*/
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px #242121;
  background-color: #2196f3;
  z-index: 21;
}

header .lgosection {
  display: flex;
  gap: 0px;
  justify-content: space-between;
  align-items: center;

}

header .gd {
  text-decoration: none;
  font-size: 2em;
  font-weight: 600;
  /*color: black;*/
}

header .logo img {
  text-decoration: none;
  height: 30px;
}

header ul {
  position: relative;

}

header ul li {
  list-style-type: none;
  float: left;
}

header ul li a {
  font-size: 1.1rem;
  padding: 20px 25px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  display: inline-block;
  position: relative;
  color: whitesmoke;
  
}

header nav ul .unique a {
  background: black;
  color: whitesmoke;
  z-index: 22;
}
header ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-in-out;
  border : 1px solid red;
  z-index: -1;
}
header ul li a:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
  z-index: 25;
}
header ul li a:hover{
  background-color: black;
}
/* End header */

.flexcontainer {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.yr {
  font-weight: bold;
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.myr {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;

}

.common {
  flex: 1;
  border-radius: 10px;
  max-width: 400px;
  text-align: center;
  border-radius: 5px;
  background-color: #c3e2c2;
  flex-wrap: wrap;
  box-shadow: -1px 0 10px hsl(0, 0%, 0%);
  margin: 23px 23px;
  margin-bottom: 30px;
  padding: 5px;


}

.btn {
  padding: 5px;
  background-color: #ff6600;
  color: #fff;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  margin-bottom: 25px;
}

.yrimg {
 
  border-radius: 10px;
  /* width: 388px;
  height: 250px; */
  width: 390px;
  height: 250px;

}

.yrpage {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 27px;
}

.about {
  padding-left: 2px;
  padding-right: 2px;
  font-size: 1rem;
  font-weight: 550;
  z-index:3
}

.common:hover {
  background-color: rgb(62, 62, 62);
  color: white;
  transform: scale(1.03);
  transition: all 0.4s ease;
}

.btn:hover {
  background-color: blue;
  transform: scale(1.03);
  transition: all 0.2s ease;
}

.yrpage:hover {
  color: black;
  color: black;
  font-weight: bold;
}

.blink {
  padding-top: 20px;
  animation: blinker 1.5s linear infinite;
  color: red;
  font-size: 20px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.rag {
  margin-top: 30px;

  padding-top: 20px;
  animation: blinker 1.5s linear infinite;
  color: #ff9800;
  font-size: 20px;

}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.contribute{
  text-align: center;
  width: 100vw;
  margin-top: 30px;
  font-weight: 500;
  font-size: 1.1rem;
}


 .glink{
  text-decoration: none;
 color:white ;
 text-transform: uppercase;
 font-size: 24px;
background-color: #2196f3;
border-radius: 15px;
padding: 20px;

}
.glink:hover{
  background-color: aqua;
  color: black;
  border: 1px solid gold;
}
.contributername{
  margin-top: 100px;
 
  text-align: center;
}
.cntlist{
  display: inline-block;
}
.cntlist li{
  display: inline-block;
}
.cntlink{
  text-decoration: none;
}

/* Footer section */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
  background: #36474f;
  margin-top: auto;
}

.additional {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 550px;
}

footer .f-ele1 {

  margin: 1.5rem 0;
  padding: 0.5rem;
  background: #fff;;
  border-radius: 8px;
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;

}

.f-ele1 p {
  margin: auto 0.5rem;
  font-size: 1.3em;
  font-weight: 500;
 
  color: #3c434e;;
  text-align: left;
}

footer .f-ele1 img {
  margin: auto 0.5rem;
  width: 4.5rem;
  height: auto;
}

footer .f-ele1 span {
  padding: 0.2rem 0.6rem;
  font-size: 1.4rem;
  font-weight: 500;
 
  color: #1d1c1c;
  background: #ffb808;
  text-align: center;
  letter-spacing: 0.2px;
  border-radius: 50px;
}



.f-ele2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.f-ele2 ul {

  font-weight: bold;
}

.f-ele2 ul span {
  font-size: 22px;
  font-weight: 600;

}

.f-ele2 ul a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

.f-ele2 a li {
  list-style-type: none;
}

.f-ele3 a li {
  list-style-type: none;
}

.f-ele2 ul a li:hover {
  border-radius: 10px;
  background: white;

  color: black;
}

.f-ele3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.f-ele3 ul {

  font-weight: bold;
 
}

.f-ele3 ul span {
  font-size: 22px;
  font-weight: 600;

}

.f-ele3 ul a li .eimg {
  width: 15px;
  height: auto;
}

.f-ele3 ul a {
  text-decoration: none;
  color: white;
  margin: 1px;
}

.additional p {
  line-height: 25px;
}

/* Social media icon */


#lab_social_icon_footer {
  padding: 40px 0;

}

#lab_social_icon_footer a {
  color: white;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */

  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}/*

/*
    Multicoloured Hover Variations
*/

#lab_social_icon_footer #social-fb:hover {
  color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
  color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
  color: #f39c12;
}
/* End footer */
/* Footer media queries */


@media (max-width:590px) {
  footer .f-ele1 span {
      font-size: 0.8em;
  }
  footer .f-ele1 p{
      font-size: 0.9em;
  }
  .btny {
      margin: 0.1em;

  }

  footer .f-ele1 img {
      width: 2em;
  }


}

@media (max-width:1095px) {
  footer {
      flex-direction: column;
  }

  .f-ele3 {
      justify-content: center;
      align-items: center;
      text-align: center;
  }
}
/* End footer media queries */




@media (max-width:590px) {
  footer .f-ele1 span {
      font-size: 0.8em;
  }
  footer .f-ele1 p{
      font-size: 0.9em;
  }
  .btny {
      margin: 0.1em;

  }

  footer .f-ele1 img {
      width: 2em;
  }


}




/* Card media queries */
@media(max-width:400px) {
  .common {
    
    width: 100%;
    margin: auto;
    margin-bottom: 45px;
  }

  .yrimg {
    width: 98%;
  }

  .flexcontainer {
    flex-direction: column;

  }

}


/* Header media queries */

@media(max-width:298px){
.glink{
  font-size: 20px;
  padding: 10px;
}
}
@media(max-width:880px) {
  header {
      padding: 10px 20px;

  }

  header nav {
      position: absolute;
      width: 100%;
      top: 66px;
      left: 0;
      background: #445964;
      display: none;
  }

  header.active nav {
      display: initial;
  }

  header nav ul {
      padding-left: 0;
      width: 100%;
  }

  header nav ul li {

      width: 100%;
  }

  header nav ul li a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      width: 100%;
      color: white;
      background-color: #2b93e3;
  }

  header nav ul li a:hover {
      background: black;
      color: whitesmoke;
  }

  header nav ul .unique a {
      background: black;
      color: whitesmoke;
  }

  .menu {
      position: relative;

      width: 40px;
      height: 50px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .menu::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      background:orangered;
      transform: translateY(-12px);
      box-shadow: 0 12px orangered;
  }

  .menu::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      background: orangered;
      transform: translateY(12px);
  }

  header.active .menu::before {
      transform: rotate(45deg);
      box-shadow: 0 0 orangered;
  }

  header.active .menu::after {
      transform: rotate(315deg);
  }
}

@media(max-width:270px) {
  .gd {
      display: none;
  }
}
