@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {

   min-height: 100vh;
    background-color: powderblue
}

.cover {
    height: 60px;
}

.nav {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #d6caca;
    height: 60px;
    overflow: auto;
    text-align: center;
    display: flex;
    position: fixed;
    margin-bottom: 2000px;
}

.nav a {

    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}


.nav a.active {
    background-color: #04AA6D;
    color: white;
}

.nav a:hover:not(.active) {
    background-color: #555;
    color: white;
}


.box {

    /* border: 2px solid black; */
    text-align: center;

    margin-top: 20px;



}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
    gap: 30px;
}

a {
    text-decoration: none;
}

.card {

    flex: 1;
    margin: 20px 20px;
    background: #ffff;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    align-self: normal;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    width: 400px;
    /* height: 300px; */
}

.hd {
    text-align: center;
    margin: 20px;
}

.hd h1 {
    font-size: 1.3rem;

}

.card img {
    flex: 1;

    height: 100px;
    width: 300px;
    border-radius: 20px;

    margin-top: 10px;
}

.heading {
    margin: 10px 0;
    font-size: 1.5rem;
    font-weight: bolder;
}

.card p {
    font-size: 15px;
    -webkit-line-clamp: 3;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: bold;
    /* margin-bottom: 30px; */
}

.btn {
    display: inline-block;
    background-color: red;
    margin-top: auto;
    padding: 10px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

.card:hover {
    /* transform: scale(1.01);

    transition: all 0.2s ease; */
    border-radius: greenyellow;
    box-shadow: 0 5px 50px greenyellow;
}

.btn:hover {
    background-color: transparent;
    color: blue;
    border: 2px solid red;
    transform: scale(1.04);
    transition: all 0.2s ease;
}


/* Footer  start */
footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    color: white;
    background: #36474f;
    min-width: 100vw;
    margin: auto;
}

.additional {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 550px;
}
.additional > p{
margin-top: 10px;
}

footer .f-ele1 {

    margin: 1.5rem 0;
    padding: 0.5rem;
    background: #fff;
   
    border-radius: 8px;
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;

}

.f-ele1 p {
    margin: auto 0.5rem;
    font-size: 1.3em;
    font-weight: 500;
    color: #3c434e;

    text-align: left;
}

footer .f-ele1 img {
    margin: auto 0.5rem;
    width: 4.5rem;
    height: auto;
}

footer .f-ele1 span {
    padding: 0.2rem 0.6rem;
    font-size: 1.4rem;
    font-weight: 500;

    color: #1d1c1c;
    background: #ffb808;
    text-align: center;
    letter-spacing: 0.2px;
    border-radius: 50px;
}



.f-ele2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.f-ele2 ul {

    font-weight: bold;
}

.f-ele2 ul span {
    font-size: 22px;
    font-weight: 600;

}

.f-ele2 ul a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

.f-ele2 a li {
    list-style-type: none;
}

.f-ele3 a li {
    list-style-type: none;
}

.f-ele2 ul a li:hover {
    border-radius: 10px;
    background: white;

    color: black;
}

.f-ele3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.f-ele3 ul {

    font-weight: bold;

}

.f-ele3 ul span {
    font-size: 22px;
    font-weight: 600;

}

.f-ele3 ul a li .eimg {
    width: 15px;
    height: auto;
}

.f-ele3 ul a {
    text-decoration: none;
    color: white;
    margin: 1px;
}

.additional p {
    line-height: 25px;
}

/* Social media icon */


#lab_social_icon_footer {
    padding: 40px 0;

}

#lab_social_icon_footer a {
    color: white;
}

#lab_social_icon_footer .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */

    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/*
      Multicoloured Hover Variations
  */

#lab_social_icon_footer #social-fb:hover {
    color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
    color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
    color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
    color: #f39c12;
}
.icn{
    margin: 10px;
}
/* End footer */
/* Footer media queries */


@media (max-width:590px) {
    footer .f-ele1 span {
        font-size: 0.8em;
    }

    footer .f-ele1 p {
        font-size: 0.9em;
    }

    .btny {
        margin: 0.1em;

    }

    footer .f-ele1 img {
        width: 2em;
    }


}

@media (max-width:1095px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    .f-ele3 {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}






@media (max-width:590px) {
    footer .f-ele1 span {
        font-size: 0.8em;
    }

    footer .f-ele1 p {
        font-size: 0.9em;
    }

    .btny {
        margin: 0.1em;

    }

    footer .f-ele1 img {
        width: 2em;
    }


}

/* Ende footer */


/* Card media queries */

@media(max-width:400px) {
    .common {

        width: 100%;
        margin: auto;
        margin-bottom: 45px;
    }

    .yrimg {
        width: 98%;
    }

    .flexcontainer {
        flex-direction: column;

    }

}

@media(max-width:349px){
    .addhead{
        font-size: 1.5em;
    }
}
@media(max-width:370px){
   
    .nav{
        display: flex;
        align-items: center;
       
    }
}


/* Ende footer */
@media(max-width:322px){
    .card{
        width: 100%;
        margin: auto;
        
    }
    .card img{
        width: 100%;
    }
    .container{
        flex-direction: column;
    }
   
}
