@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  height: 100vh;
 
 
}

 
  /* Header */

  header {
    /* position: absolute; */
    width: 100%;
    min-height: 66px;
    background: white;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px #888888;
  }
  
  header .lgosection {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
  
  }
  
  header .gd {
    text-decoration: none;
    font-size: 2em;
    font-weight: 600;
    color: black;
  }
  
  header .logo img {
    text-decoration: none;
    height: 30px;
  }
  
  header ul {
    position: relative;
  
  }
  
  header ul li {
    list-style-type: none;
    float: left;
  }
  
  header ul li a {
  
    font-size: 1.1em;
    padding: 20px 25px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    color: black;
  }
  
  header nav ul .unique a {
    background: #2b93e3;
    color: whitesmoke;
  }
  
  header ul li a:hover {
    background: #2b93e3;
    color: whitesmoke;
  }
  

  /* header end */
  .flexcontainer{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  
  
  }

  .common{
  flex: 1;
  border-radius: 10px;
  max-width: 410px;
  text-align: center;
  border-radius: 5px;
  background-color: #f2f2f2;
  flex-wrap: wrap;
  box-shadow: -1px 0 10px hsl(0, 0%, 0%);
  margin: 23px 23px;
  margin-bottom: 30px;
  padding: 5px;
  }

.common > img{
  
  border-radius: 10px;
  /* width: 388px;
  height: 250px; */
  width: 390px;
  height: 250px;
  
}
.heading{
  /* margin: 10px 0;
  font-size: 3.5rem;
  font-weight: bolder;*/
  font-weight: bolder; 
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.common p:hover{
  color: blue;
}
.common p{
  font-size: 15px;
-webkit-line-clamp: 3;
line-height: 20px; 
  margin-bottom: 30px;
}
 .btn{
  display: inline-block;
  background-color: red;
  margin-top: auto;
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}
.common:hover{
  transform: scale(1.01);
  transition: all 0.2s ease;
}
.btn:hover{
 background-color: transparent;
 color: blue;
 border: 2px solid red;
  transform: scale(1.04);
  transition: all 0.2s ease;
}

hr{
  border: dotted rgb(10, 179, 236) 6px;
 border-bottom: none;
 width: 4%;
 margin: 100px auto 100px auto;
 
}

.contact-me{
  text-align: center;
   margin: 45px auto 80px auto;
}
.contact-me a{
  color: black;
  font-family:'Montserrat',sans-serif ;
  margin: 10px 20px ;
  text-decoration: none;

}
.contact-me a:hover{
  color: royalblue;
}
.contact-me a:active{
  color: gold;
}
.links{
  color: blue;
}



.contact-message{
 
  margin: 40px auto 60px;
  font-size: 1.01rem;
}



.btn2 {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat',sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 1000px;
}

.btn2:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}












/* Footer start */


footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
  background: #36474f;
  
}

.additional {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 550px;
}

footer .f-ele1 {

  margin: 1.5rem 0;
  padding: 0.5rem;
  background: #fff;
  ;
  border-radius: 8px;
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;

}

.f-ele1 p {
  margin: auto 0.5rem;
  font-size: 1.3em;
  font-weight: 500;

  color: #3c434e;
  ;
  text-align: left;
}

footer .f-ele1 img {
  margin: auto 0.5rem;
  width: 4.5rem;
  height: auto;
}

footer .f-ele1 span {
  padding: 0.2rem 0.6rem;
  font-size: 1.4rem;
  font-weight: 500;

  color: #1d1c1c;
  background: #ffb808;
  text-align: center;
  letter-spacing: 0.2px;
  border-radius: 50px;
}



.f-ele2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.f-ele2 ul {

  font-weight: bold;
}

.f-ele2 ul span {
  font-size: 22px;
  font-weight: 600;

}

.f-ele2 ul a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

.f-ele2 a li {
  list-style-type: none;
}

.f-ele3 a li {
  list-style-type: none;
}

.f-ele2 ul a li:hover {
  border-radius: 10px;
  background: white;

  color: black;
}

.f-ele3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.f-ele3 ul {

  font-weight: bold;

}

.f-ele3 ul span {
  font-size: 22px;
  font-weight: 600;

}

.f-ele3 ul a li .eimg {
  width: 15px;
  height: auto;
}

.f-ele3 ul a {
  text-decoration: none;
  color: white;
  margin: 1px;
}

.additional p {
  line-height: 25px;
}

/* Social media icon */


#lab_social_icon_footer {
  padding: 40px 0;

}

#lab_social_icon_footer a {
  color: white;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */

  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

/*
    Multicoloured Hover Variations
*/

#lab_social_icon_footer #social-fb:hover {
  color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
  color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
  color: #f39c12;
}
/* End */



/* card media queries */

@media(max-width:400px) {
  .common {
    
    width: 100%;
    margin: auto;
    margin-bottom: 45px;
  }

  .common > img {
    width: 98%;
  }

  .flexcontainer {
   
    flex-direction: column;
  
  }

}

/* end */







/* Footer queries */
@media (max-width:590px) {
  footer .f-ele1 span {
    font-size: 0.8em;
  }

  footer .f-ele1 p {
    font-size: 0.9em;
  }

  .btny {
    margin: 0.1em;

  }

  footer .f-ele1 img {
    width: 2em;
  }


}

@media (max-width:1095px) {
  footer {
    flex-direction: column;
  }

  .f-ele3 {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}






@media (max-width:590px) {
  footer .f-ele1 span {
    font-size: 0.8em;
  }

  footer .f-ele1 p {
    font-size: 0.9em;
  }

  .btny {
    margin: 0.1em;

  }

  footer .f-ele1 img {
    width: 2em;
  }


}

/* End */

/* Header queries */

@media(max-width:880px) {
  header {
    padding: 10px 20px;

  }

  header nav {
    position: absolute;
    width: 100%;
    top: 66px;
    left: 0;
    background: #445964;
    display: none;
  }

  header.active nav {
    display: initial;
  }

  header nav ul {
    padding-left: 0;
    width: 100%;
  }

  header nav ul li {

    width: 100%;
  }

  header nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    color: white;
  }

  header nav ul li a:hover {
    background: #2b93e3;
    color: whitesmoke;
  }

  header nav ul .unique a {
    background: #2b93e3;
    color: whitesmoke;
  }

  .menu {
    position: relative;

    width: 40px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: black;
    transform: translateY(-12px);
    box-shadow: 0 12px black;
  }

  .menu::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: black;
    transform: translateY(12px);
  }

  header.active .menu::before {
    transform: rotate(45deg);
    box-shadow: 0 0 #0000;
  }

  header.active .menu::after {
    transform: rotate(315deg);
  }
}

@media(max-width:270px) {
  .gd {
    display: none;
  }
}
